<%= form_for @manufacturer do |f| %>
    <div>
        <%= f.text_field :name, placeholder: 'Name'%>
    </div>
    <div>
        <%= f.text_field :city, placeholder: 'City'%>
    </div>
    <div>
        <%= f.text_field :state, placeholder: 'State'%>
    </div>
    <div>
        <%= f.text_field :zip, placeholder: 'ZIP'%>
    </div>
    <div>
        <%= f.text_field :country, placeholder: 'Country'%>
    </div>
    <div>
        <%= f.text_field :manufacturer_type, placeholder: 'Type of Manufacturer'%>
    </div> 
    <div>
        <%= f.submit 'Save'%>
    </div> 
    
<%end%>