<%=form_for @dish do |f|%>
    <div>
        <%=f.text_field :name ,placeholder:"Name"%> 
    </div>
  
    <div>
        <%=f.text_area :description ,placeholder:"Description"%> 
    </div>
    
    <div>
        <%=f.text_field :picture ,placeholder:"Picture"%> 
    </div>
    <!-- step lets form increment by .01-->
     <div>
        <%=f.number_field :price ,placeholder:"$$$$$",:step => 0.01%> 
    </div>
  
     <div>
        <%=f.submit "Save"%>
    </div>

<%end%>