<div class="row">
  <div class="col-3">
    <%if @user.picture.nil? || @user.picture.empty?%>
      <img src ="https://www.sparklabs.com/forum/styles/comboot/theme/images/default_avatar.jpg" height="150">
    <%else%>
                
      <%= image_tag @user.picture, height:100%>
      
    <%end%>
    <%=link_to  relationship_path(current_user) do%>
    <div style="padding-top:20px;">(<%=current_user.followers.count%>) Followers | (<%=current_user.following.count%>) Following</div>
    <%end%>
    
    
     <% if !current_user.following?(@user)%>
               <%= form_for(current_user.active_relationships.new) do |f| %>
                 <%=hidden_field_tag :followed_id , @user.id%>
                 <%=f.submit "Follow", class:"btn btn-primary" %>
               <%end%>
              <%else%>
                <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                html: {method: :delete}) do |f| %>
                  <%=hidden_field_tag :followed_id, @user.id%>
                  <%=f.submit "Unfollow", class:"btn btn-danger" %>
                <%end%>
              
            <%end%>
  </div>

    <div class="col-6">
   
        
      <%@user.posts.each do |post|%>
        <div class="media border border-secondary">
        <%= image_tag post.picture, height:100 ,class: "mr-3"%>
          <div class="media-body">
          <%=post.info%>
          
          </div>
        </div>
     
    <%end%>
    
    
    
   
    </div>


       
 
 
</div>