<a href="/courses/new">New</a>

<% @courses.each do |course| %>
<div>
    
    <h4><%= course.name%></h4>
   Location: <%=course.location%>
    <p>
        <%= course.description%>
    </p>
    <!--has to go to edit?id= ruby information -->
    <a href="/courses/edit?id=<%= course.id %>">Edit</a>
    <a href="/courses/show?id=<%=course.id %>">Show</a>
    <!--finished delete method lesson did not -->
     
    <!-- code to delete using link_to -->
    <%= link_to "Delete Course", { action: "delete", id: course.id },
                                method: :delete, data: { confirm: "Are you sure?" } %>
</div>
<%end%>