<!DOCTYPE html>
<html>
  <head>
    <title>UserPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        
        }
       
      }
      
    </style>
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <img src="https://www.athomeinedinburgh.co.uk/wp-content/uploads/Home-Icon.png" height="20">
         
        <%=link_to "FriendPlace",posts_path,class:"navbar-brand"%>
        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active " >
              <!--needs if statementfor login screen -->
               <% if user_signed_in? %>
                 <a class="nav-link ml-4" href="#">Welcome back <%=current_user.first_name%></a>
               
            </li>
            <li class="nav-item " >
              <%= link_to "Account Settings", edit_user_registration_path,class:"nav-link ml-4" %>
            </li>
            <li class="nav-item">

                <%= link_to('Logout', destroy_user_session_path, method: :delete,class:"nav-link ml-4") %> 
              <%else%>
                <%= link_to('Login', new_user_session_path,class:"nav-link ml-4")  %>  
              <%end%>
            </li>
           
        </div>
      </div>
    </nav>
  
       
  
  <main role="main"  style="padding-top: 25px;">
    <div class="container">
      <%= yield %>
    </div>
      </main>
      
      
  </body>
  
</html>
